//Layout
$header-footer: rgb(255, 63, 63);
$nav-link: #000;
$nav-link-hover: #fff;

//Tracking
$input-color: #000;
$input-background: #fff;
$error: rgb(255, 0, 0);
$track-button: rgb(255, 91, 91);
$track-button-hover: rgba(18, 225, 18, 0.748);
$track-clear-hover: red;

//Office
$pagination-button-hover: rgb(151, 213, 173);
