@import "../../styles/variables.scss";

header {
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 40px;
  background-color: $header-footer;
}

.navList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 15px;
}

.navlink {
  color: $nav-link;
  letter-spacing: 0.001em;
  transition: 500ms ease-in-out;
}

.navlink:hover,
.navlink:focus {
  color: $nav-link-hover;
}

.navlinkActive {
  color: $nav-link-hover;
}

footer {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $header-footer;
}
